<html lang='en'>
    <head>
        <title>Recipes</title>
    </head>
    <body>
        <h1>New Recipe</h1>
        <form action="/recipe_name/" method="post">
            <label for="recipe_name">Recipe name: </label>
            <input id="recipe_name" type="text" name="recipe_name" value="Recipe Name">
            <input id="recipe_steps" type="text" name="recipe_name" value="Steps">
            <input id="creator_name" type="text" name="recipe_name" value="email.address@email.com">
            <input type="submit" value="OK">
        </form>
    </body>
</html>